# Build outputs
/build/
/bin/
/matches/
/deploy/lib
/deploy/bin

# Match files
*.bc17
*.rms

# Client build artifacts
/client/node_modules/
/client/bc17/
/client/out/

# Config files
*.conf
*.log

# OS files
.DS_Store
*.swp
*.pyc

# Gradle
.gradle
*.jar

# IDE files
*.iml
*.ipr
*.iws
/.idea/
battlecode-scaffold.iws
.classpath
.project
.settings/
